// big_header.scss


.site-header {
   border-top: 0px solid $grey-color-dark;
   border-bottom: 1px solid $grey-color-light;
   min-height: 56px;

   // Positioning context for the mobile navigation icon
   position: relative;
}


.header_black {
 height: 300px;
 background: #282828;

   display:flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: center;
   align-content: center;
   align-items: center;
}

.logo_link {
 display:flex;
 flex-direction: column;
 flex-wrap: nowrap;
 justify-content: center;
 align-content: center;
 align-items: center;
}

.logo_container {
  perspective: 200px;
}

.logo_a {
 width: 130px;
 margin: -10px 0 40px 0;
 transform-style: preserve-3d;
 transition: transform 1s;
 animation: 2s linear 1s 1 alternate move_eye;

}

.logo_a polygon {
 stroke-dasharray: 1000;
 stroke-dashoffset: 1000;
 animation: dash 5s linear forwards;
}


@keyframes move_eye {
 to {
   transform: rotateY( 180deg );
 }
}
@keyframes dash {
 to {
   stroke-dashoffset: 0;
 }
}

.andreiLiotenko {
 width: 500px;
 max-width: 100%;
}
