// _hot_block.scss

.hot_block {
  margin: 0 -10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include min-media-query(1000px) {
    margin: 0 -16px;
  }
}

// ================================== //
// header-menu
// ================================== //

a.hot_post {
  position: relative;
  display: block;
  background: $main_dark;
  margin: 5px;
  color: #fff;
  min-height: 100px;
  aspect-ratio: 10/7;
  background-size: cover !important;

  width: calc(100% - (10px));

  .over_img {
    position: absolute;
    //padding: 16px;
    top: 0; bottom: 0;
    right: 0; left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@include min-media-query(500px) {
  a.hot_post {
    width: calc(50% - (10px));
  }
}
@include min-media-query(1000px) {
  a.hot_post {
    margin: 14px;
    width: calc(33.3333333% - (28px));
  }
}

.hot_post .date {
  text-align: right;
  padding: 16px;
}

.hot_post .title {
  padding: 32px 16px 18px 16px;
  font-weight: 400;
  text-shadow: 0px 0px 14px #000000;
  font-size: 16px;
  line-height: 1.3;

  background: rgb(40,40,40);
  background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(40,40,40,0.8337710084033614) 64%, rgba(40,40,40,0) 100%);

  @include min-media-query(800px) {
    font-size: 20px;
  }
  @include min-media-query(1000px) {
    font-size: 18px;
  }
  @include min-media-query(1170px) {
    font-size: 20px;
  }


/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.34+30,0.5+100 */
//background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.34) 30%, rgba(0,0,0,0.5) 100%); [> FF3.6-15 <]
//background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.34) 30%,rgba(0,0,0,0.5) 100%); [> Chrome10-25,Safari5.1-6 <]
//background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.34) 30%,rgba(0,0,0,0.5) 100%); [> W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ <]
//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); [> IE6-9 <]

}

.hot_post img {
  width: 100%;
  height: auto !important;
}

