.main-header {
  background: #333;
}

.main-header header {
  position: relative;

  padding: 8px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
}

// ================================== //
// logo
// ================================== //

.main-header .logo {
  width: 95px;
  height: 60px;

  margin: -8px 0;
  overflow: hidden;
}

.main-header .logo-in {
  position: relative;
    &::before, &::after{
      background: #555;
    }

    &::before {
      content: '';  
      position: absolute;
      left: 15px;
      top: 0px;

      height: 58px;
      width: 22px;

      transform: skew(-30deg,0deg);

      background: #444;
    }
    &::after {
      content: '';  
      position: absolute;
      left: 50px;
      top: 0px;
      height: 58px;
      width: 22px;
      transform: skew(30deg,0deg);

    }
}


// ================================== //
// menu-button
// ================================== //

.menu-button {
  position: relative;
  width: 32px;
  height: 36px;
  cursor: pointer;
  margin: 0 -8px 0 0;
  z-index: 300;
}

.menu-button-in {
  position: absolute;
  top: calc(50% - 2px);
  background: #fff;
  height: 4px;
  width: 100%;
  
  &::before, &::after {
    position: absolute;
    content: '';
    background: #fff;
    height: 4px;
    width: 100%;
    top: -10px;
    transition: 0.2s 1s;
    transition: top 0.2s 0.2s;

  }
  
  &::after {
    position: absolute;
    content: '';
    background: #fff;
    height: 4px;
    width: 100%;
    top: 10px;
  }
  
}

.menu-button.active .menu-button-in {
  background: none;
  
  &::before, &::after {
    top: 0;
    transform: rotate(45deg);
    transition: 0.2s;
    transition: transform 0.2s 0.2s;
  }
   &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: 600px) {
  .menu-button {
    display: none;
  }
}


// ================================== //
// header-menu
// ================================== //

.header-menu {
  position: absolute;
  top: -600px;
  left: 0;
  width: 100%;
  transition: all 0.5s ease;
  background: #fff;
  z-index: 200;
  
  .menuActive & {
    top: 60px;

  }
}
.menuActive .header-menu::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  background: #000;
  z-index: 100;
  overflow: hidden;
}

.header-menu ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header-menu li {
  list-style: none;
  width: 100%;
  border-bottom: 1px solid #F0F0F0;
}

.header-menu li a {
  color: #333;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  
  display: block;
  padding: 20px;
}

@media (min-width: 600px) {

  .header-menu {
    flex: 1;
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    transition: left 0.5s ease;
    background: none;

    .menuActive & {
      transition: left 0.5s ease;
      left: 0;
    }
  }


.header-menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: center;

    float: right;
}
.header-menu li {
  width: auto;
  border-bottom: none;
  
  &:not(:first-child) {
      padding-left: 25px;
  }   
}

  .header-menu li a {
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
    
    display: inline-block;
    padding: 10px 0px;
    
 
  }

}

