
// ================================== //
// menu-button
// ================================== //

.menu-button {
  position: relative;
  width: 32px;
  height: 36px;
  cursor: pointer;
  margin: 0 -8px 0 0;
  z-index: 300;
}

.menu-button-in {
  position: absolute;
  top: calc(50% - 2px);
  background: #fff;
  height: 4px;
  width: 100%;
  
  &::before, &::after {
    position: absolute;
    content: '';
    background: #fff;
    height: 4px;
    width: 100%;
    top: -10px;
    transition: 0.2s 1s;
    transition: top 0.2s 0.2s;

  }
  
  &::after {
    position: absolute;
    content: '';
    background: #fff;
    height: 4px;
    width: 100%;
    top: 10px;
  }
  
}

.menu-button.active .menu-button-in {
  background: none;
  
  &::before, &::after {
    top: 0;
    transform: rotate(45deg);
    transition: 0.2s;
    transition: transform 0.2s 0.2s;
  }
   &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: 600px) {
  .menu-button {
    display: none;
  }
}
