// portfolio.scss

.portfolio {
}

.portfolio_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.portfolio_item {
  width: calc(50% - 20px);
  background: #fff;
  display: flex;
  flex-wrap: nowrap;
  margin: 10px 10px 40px 10px;
}

.portfolio_item .hello_photo {
  min-width: 220px;
}

.portfolio_item .img {
  max-width: 220px;
}

.portfolio_item .right_part {
  flex-grow: 1;
  margin: 20px 26px;
}

.portfolio_item h2 {
  line-height: 1.1;
  margin: 0;
  padding: 0 0 0 0;

}
.portfolio_item h2 a {
  font-weight: 500;
  font-size: 1.2em;
  color: $text-gray;
  text-transform: uppercase;
}

.portfolio_item .year {
  color: $text-gray;
  font-size: 1.2em;
  font-weight: 300;
  margin: 0 0 20px 0;
}


.portfolio-item-main {
  position: relative;
  margin: 0 0 60px 0;

  @include media-query(800px) {
    & {
      display: none;
    }
  }

}



.portfolio-item-main .main-phone {
  position: absolute;
  right: -40px;
  top: -86px;

  @include media-query(1210px) {
    & {
      right: -10px;
    }
  }
}

.main-phone .container{
  margin: 0 auto;
  position: relative;


  .in {
    position: absolute;
    top: 86px;
    left: 22px;
    width: 293px;
    height: 516px;
    overflow: hidden;
    overflow-y: scroll;
    vertical-align: top;
    background: #fff;

    img {
    }
  }

}


.portfolio-images .img {
  margin: 0 0 60px 0;
}

.portfolio-images img {
  width: 100%;
  height: auto !important;
}
